/* 
    General Styles
*/
body{
    background-image: url("https://wallpapercave.com/wp/wp4294276.jpg");
}

.card-style{
    background-image: url("https://img.freepik.com/free-photo/black-smooth-textured-background_53876-101777.jpg");
    border-radius:20px;
    margin-left: 40px;
    min-width: 300px;
    margin-bottom: 15px;
}

.btn{
    border-radius:23px;
}

.card-style:hover{
    border-color:rgb(219,176,82);
    box-shadow: 0 0 20px rgb(219,176,82);
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: all .4s ease;
} 

.my-carousel{
    display: flex;
    overflow-x: scroll;
}

* {
    scrollbar-width: thin;
    scrollbar-color: grey black;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 6px solid black;
  }

.card-style >img{
    height: 250px;
    object-fit: cover;
    object-position: 25% 25%; 
}

.navbar{
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(33,37,41,1) 20%, rgba(61,61,61,1) 100%);
}



